/* importing font styles */

@import url('https://fonts.googleapis.com/css2?family=Dongle&family=Luxurious+Roman&family=Open+Sans&display=swap');




/* common styles */
body{
  margin: 0;
}
body p{
  font-family: 'Open Sans', sans-serif;
}
.container{
  margin: 0px 50px 90px 50px;
}
/* nav bar designing */
nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background-color: lightblue; */
}
nav span{
  padding-right: 10px;
  padding-left: 10px;
}
nav span h3{
  font-size: 3em;
  font-family: 'Dongle', sans-serif;
  margin: 0;
  color: rgba(0, 0, 0, 0.87);
}
nav span a{
  text-decoration: none;
  color: black;
  margin-left: 15px;
  font-family: 'Open Sans', sans-serif;
  font-size: .8em;
  font-weight: 700;
}
nav span a i{
  font-size: 1.4em;
  color: rgba(0, 0, 0, 0.781);
}
/* styles for top banner */
.top-banner{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.banner-heading{
  font-size: 3em;
  font-family: 'Luxurious Roman', cursive;
  color: rgb(82, 105, 43);
}
.banner-details{
  width: 580px;
}
.banner-button{
  width: 100px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-decoration: none;
  font-size: 0.9em;
  font-family: 'Open Sans', sans-serif;
  background-color:rgba(218, 165, 32, 0.863);
  color: white;
  border-radius: 15px;
  padding: 5px 12px;
}
.banner-image{
  width: 500px;
}
.banner-image img{
  width: 100%;
  border-radius: 10px;
}


/* styles for logo to display flexible */
.logo{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
.logo span{
  width: 60px;
  padding: 5px;
}
.logo span img{
  width: 100%;
}
hr{
  border-bottom: 1px solid;
  border-image: linear-gradient(45deg,white, gray, white);
  border-image-slice: 1;

}


/* styles for collection and card section  */
.collections-heading{
  text-align: center;
  margin-bottom: 50px;
  font-family: 'Dongle', sans-serif;
  font-size: 2.5em;
  color: rgba(0, 0, 0, 0.61);
}
.collections{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-row-gap: 30px;
  justify-items: center;
  
}
.card{
  height: 400px;
  width: 300px;
  box-shadow: 0px 0px 10px gray;
  border-radius: 5px;
  padding-left: 15px;
  padding-top: 15px;
  font-size: 0.8em;
  font-family: 'Open Sans', sans-serif;
}
.card-image img{
  width: 92%;
}
.card h2{
  line-height: 10px;
}
.collections-button{
  display: flex;
  justify-content: flex-end;
}
.collections-button a{
  width: 100px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-decoration: none;
  font-size: 0.9em;
  font-family: 'Open Sans', sans-serif;
  color: rgba(218, 165, 32, 0.863);
  margin-right: 30px;
  margin-top: 30px;
}

/* styles for form section */
.form-heading{
  text-align: center;
  margin-bottom: 50px;
  font-family: 'Dongle', sans-serif;
  font-size: 2.5em;
  color: rgba(0, 0, 0, 0.61);
}

form{
  display: flex;
  justify-content: center;
  align-items: center;
}
form div{
  margin: 20px 20px;
}
form .form-image {
  width: 200px;
}
.form-image img{
  width: 100%;
  border-radius: 10px;
}
.form-fill{
  display: flex;
  flex-direction: column;
}
.form-fill input{
  margin-bottom: 20px;
  height: 30px;
  width: 300px;
  border-radius: 5px;
  border: 1px solid gray;
}
.form-fill button{
  height: 30px;
  width: 130px;
  font-size: 0.9em;
  font-family: 'Open Sans', sans-serif;
  background-color: rgba(218, 165, 32, 0.863);
  color: white;
  border: none;
  border-radius: 10px;
}
.form-fill h3{
  color: rgb(202, 151, 21);
}
/* styles for footer part  */
footer{
 display: flex;
 flex-direction: column;
 align-items: center;
 background-color: rgba(0, 0, 0, 0.774);
 color: whitesmoke;
 padding-top: 20px;
}
footer h2{
  font-family: 'Luxurious Roman', cursive;
  font-size: 1.5em;
  line-height: 0px;
}
footer p{
  line-height: 0px;
  font-size: 0.7em;
}
footer span{
  margin-top: 10px;
}
footer span a{
  margin-right: 10px;
}